:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%; /* controle das medidas rem */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{ 
    height: 100vh;
}

body {
    background-color: #8257E5;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: #6A6180;
}

#container {
    width: 90vw;
    max-width: 900px;
    color: white;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid red;

}

.logo img {
    height: 100px;
    width: 200px;
}

.imgLading img{
    width: 600px;
    height: 400px;
}


    /*Outra Div*/

.buttons {
    position: absolute;
    flex-direction: row;
    bottom: 5%;
    display: inline-block;
    width: 80%;
    border: 5px solid red;
}

.estudar{
    padding: 5px;
    background: #9871F5;
    color: #FFFFFF;
    margin-right: 10px;
    border-radius: 10px;
    border: 0;
    width: 210px;
    height: 80px;
    
}

.darAulas {
    background: #04D361;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 210px;
    height: 80px;
}

.darAulas img {
    vertical-align: middle;
    width: 30px;
    height: 30px;

}
.estudar img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    
}

.estudar:hover{
    background-color: #6842c2;
    
}

.darAulas:hover {
    background-color: #04BF58;
}

.totalConec{
    color: var(--color-text-in-primary);;
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 1rem;
}

.totalConec img{
    vertical-align: middle;
}