#page-study #container {
    width: 100vh;
    height: 100vh;

}


/* Mobile Responsive Mode*/
html, body {
    background-color: #F0F0F7;
}
.page-header {
    background-color: #8257E5;
    display: flex;
    flex-direction: column;
}

.page-header .top-bar-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover{
    opacity: 0.6;
}
.page-header .top-bar-container img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 3.2rem auto;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: #FFFFFF;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: #FFFFFF;
}

#search-teachers .select-block {
    margin-bottom: 1.4rem;
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;
    color: #FFFFFF;
    background-color: #04D361;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    margin-top: 3.2rem;
}

#search-teachers button:hover {
    background-color: #04BF58;
    outline: 0;
}

.select-block label,
.input-block label {
    font-size: 1.4rem;
    color: #9C98A6;
}

.input-block input,
.select-block select {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    background-color: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}


.input-block {
    position: relative;
}

.input-block:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;    
    background: #916BEA;
    position: absolute;
    left: 1.6rem;
    bottom: 0;
}

#page-study main {
    margin: 3.2rem auto;
    width: 90%;
}

.teacher-item{
    background-color: #FFFFFF;
    border: 1px solid #E6E6F0;
    border-radius: 0.8rem;
    margin-top: 2.4rem;
}

.teacher-item header{
    padding: 3.2rem 2rem;
    display: flex;

}

.teacher-item header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.teacher-item header div {
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: #32264D;
}
.teacher-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem ;
    color: #9C98A6;
}

.teacher-item p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #9C98A6;
}

.teacher-item footer{
    padding: 3.2rem 2rem;
    background: #FAFAFC;
    border-top: 1px solid #E6E6F0;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-item footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #9C98A6;
}

.teacher-item footer p strong {
    font-size: 1.6rem;
    color: #8257E5;
    display: block;
}

.teacher-item footer button {
    width: 20rem;
    height: 5.6rem;
    background: #04D361;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    margin-left: 1.6rem;
    outline: 0;
}

.teacher-item footer button:hover {
    background: #04BF58;
}