<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta HTTP-EQUIV="REFRESH" content="5; url=/study">-->
    <link rel="stylesheet" href="css/sucess.css">
    <title>Proffy</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>

<body id="page-sucess">
    <main>       
        <div class="sucessCheckImg">
            <img src="images/icons/success-check-icon.svg" alt="sucessImageCheck">
            <h1>Cadastro Salvo!</h1>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.
                Agora é só ficar de olho no seu WhatsApp. <br><br>
                Você será redirecionado em instantes
                
            </p>
        </div>

    </main>

</body>

</html>